{{left_sidebar_enabled,right_sidebar_enabled=(True,)*2}}
{{extend 'layout.html'}}

{{rsvp_list = db(db.rsvp_list.event_id==eventpage.id).select(db.rsvp_list.user_id, db.rsvp_list.rsvp)}}

{{if rsvp_list:}}
<h5>RSVP list</h5>
{{=rsvp_list}}
{{pass}}
<div class="well">
	<h6 style="margin-left: 0px">{{=T('What should I have here?')}}</h6>
	<ul style="list-style-type: icon-comment; margin-left: 18px">
		<li>Facebook comments</li>
		<li>DISQUS comments</li>
		<li>IntenseDebate comments</li>
		<li>Our own comment system, with likes+nested comments</li>
		<li>Our own comment system with the above + ranked comments</li>
	</ul>
</div>

{{block left_sidebar}}
{{if eventpage.has_key('event_name'):}}
{{if 'eventpage' in globals() and 'group_name' in globals():}}
{{if auth.is_logged_in():}}
{{my_rsvp = db((db.rsvp_list.event_id==eventpage.id) & (db.rsvp_list.user_id==auth.user.id)).select(db.rsvp_list.user_id, db.rsvp_list.rsvp)}}
{{try:}}
{{if my_rsvp[0].rsvp=="yes":}}
<div class="btn-group">
	<a data-toggle="dropdown" class="btn btn-success dropdown-toggle">
		<i class="icon-ok icon-white"></i> {{=T('Attending ')}}<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/maybe',' ')}}><i class="icon-pencil"></i> {{=T('Will try and make it')}}</a></li>
		<li class="divider"></li>
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/no',' ')}}><i class="icon-trash"></i> {{=T('Can\'t make it')}}</a></li>
	</ul>
</div>
{{elif my_rsvp[0].rsvp=="maybe":}}
<div class="btn-group">
	<a data-toggle="dropdown" class="btn btn-info dropdown-toggle">
		<i class="icon-pencil icon-white"></i> {{=T('Will try and make it ')}}<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/yes',' ')}}><i class="icon-ok"></i> {{=T('Attend')}}</a></li>
		<li class="divider"></li>
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/no',' ')}}><i class="icon-trash"></i> {{=T('Can\'t make it')}}</a></li>
	</ul>
</div>
{{else:}}
<div class="btn-group">
	<a data-toggle="dropdown" class="btn btn-danger dropdown-toggle">
		<i class="icon-trash icon-white"></i> {{=T('Can\'t make it ')}}<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/yes',' ')}}><i class="icon-ok"></i> {{=T('Attend')}}</a></li>
		<li class="divider"></li>
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/maybe',' ')}}><i class="icon-pencil"></i> {{=T('Will try and make it')}}</a></li>
	</ul>
</div>
{{pass}}

{{except IndexError:}}
{{pass}}

{{if not my_rsvp:}}
<div class="btn-group">
	<a data-toggle="dropdown" class="btn dropdown-toggle">
		<i class="icon-time"></i> {{=T('RSVP ')}}<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/yes',' ')}}><i class="icon-ok icon-black"></i> {{=T('Attending')}}</a></li>
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/maybe',' ')}}><i class="icon-pencil"></i> {{=T('Will try and make it')}}</a></li>
		<li class="divider"></li>
		<li><a href={{=URL('','group/d/'+group_name+'/'+str(eventpage.id)+'/rsvp/no',' ')}}><i class="icon-trash"></i> {{=T('Can\'t make it')}}</a></li>
	</ul>
</div>
{{pass}}

{{else:}}

<button class="btn" disabled="">
	{{=T('Login to RSVP')}}
</button>
&nbsp;
{{pass}}
{{pass}}

<h3>{{=eventpage.event_name}} <small>from {{=A(group_name, _href=URL('','group/d/'+group_name,' '))}}</small></h3>

<dl class="dl-horizontal">
	<dt style="text-align: left">{{=T('Location:')}}</dt>
	<dd>{{=eventpage.event_location}}</dd>
	<dt style="text-align: left">{{=T('Description:')}}</dt>
	<dd>{{=eventpage.event_desc}}</dd>
	<dt style="text-align: left">{{=T('DateTime:')}}</dt>
	<dd>{{
		from gluon.tools import prettydate
		=prettydate(eventpage.event_datetime, T)
		}}</dd>
</dl>

{{else:}}
Error: group ID or event ID not found
{{=BEAUTIFY(response._vars)}}
{{pass}}
{{end}}