{{if auth.is_logged_in():}} <h4>{{=auth.user.name or "Name here"}} <small>{{=T('welcome back!')}}</small></h4>
<ul>
	<li>
		{{=auth.user.email}}
	</li>
	<li>
		<strong>{{=T('Interests:')}}</strong> {{=auth.user.interests}}
	</li>
</ul>

{{my_groups=db(db.group_member_list.user_id==auth.user.id).select(db.group_member_list.group_id)}}
{{if my_groups:}}
<h3>{{=T('My groups')}}</h3>
{{for group in my_groups:}}
{{group_name=db(db.picnics.id==group.group_id).select(db.picnics.group_name)[0].group_name}}
{{=A(group_name, _href=URL('','group/d/'+group_name, ' '))}}
<br>
{{pass}}
{{pass}}

{{my_events=db(db.rsvp_list.user_id==auth.user.id).select()}}
{{if my_events:}}
<h3>{{=T('My upcoming events')}}</h3>
{{for event in my_events:}}
{{if event.rsvp=='yes':}}

<i class="icon-ok"></i> {{=T('Attending: ')}}
{{elif event.rsvp=='maybe':}}
<i class="icon-pencil"></i> {{=T('Will try and make it to: ')}}
{{else:}}
<i class="icon-trash"></i> {{=T('Can\'t make it to: ')}}
{{pass}}
{{group_name = db(db.picnics.id==db(db.event.id==event.event_id).select(
db.event.group_id)[0].group_id).select(db.picnics.group_name)[0].group_name}}
{{=A(db(db.event.id==event.event_id).select(db.event.event_name)[0].event_name,
_href=URL('','group/d/'+group_name+'/'+str(event.event_id), ' '))}}
{{=T(' from ')}} {{=A(group_name, _href=URL('','group/d/'+group_name, ' '))}}
<br>
{{pass}}
{{pass}}

<br>
{{=A(T("Edit profile"), _href=URL(), _class='btn',_style='margin-top: 1em;')}}
<br>

{{else:}}
{{=A(T('Admin Panel'), _href="https://giantpicnic.com/admin", _class='btn', _style='margin-top: 1em;')}}
{{=A(T('Groups'), _href="/groups/", _class='btn btn-info', _style='margin-top: 1em;')}}
{{=A(T('Events'), _href="/events/", _class='btn btn-inverse', _style='margin-top: 1em;')}}
<h6>{{=T('Features')}}</h6>
<ol>
	<li>
		Personal profile for each user account
	</li>
	<li>
		Possibility of logging in with Facebook
	</li>
	<li>
		Create/join groups
	</li>
	<li>
		Create/join group events
	</li>
	<li>
		API exposed for doing common tasks
	</li>
	<li>
		Mobile apps made with PhoneGap
	</li>
</ol>
{{pass}}