<h4>&nbsp;<u>Join us</u></h5>
{{
	form=auth.register()
	for label in form.elements('label'):
	label["_style"] = "display:none;"
	pass
	
	placeholders = {
	"email": "email address",
	"interests": "interests; press `+` to add more ->"
	}
	pwd = {
	"password": "password"
	}
	for input in form.elements("input[type=text]"):
	input["_placeholder"] = placeholders.get(input["_name"], "")
	pass
	for input in form.elements("input[type=password]"):
	input["_placeholder"] = pwd.get(input["_name"], "")
	pass
	form.elements('input[type=submit]')[0]["_value"] = "Signup"
	form.elements('input[type=submit]')[0]["_class"] = "btn btn-large btn-primary"
	=form
}}